<link rel="stylesheet" href="../../styles/header.css">

<header class="cabecalho">
  <img src="/assets/img/logo.png" alt="Logo" />
  <h1>EngTechs</h1>

  <div class="menu-dropdown">
    <button class="menu-toggle">☰ Menu</button>
    <ul class="dropdown-links">
      <li><a href="/monitoramento/pages/dashboard/index.html">Dashboard</a></li>
      <li><a href="/monitoramento/pages/historico/index.html">Histórico</a></li>
      <li><a href="/monitoramento/pages/sensores/index.html">Sensores</a></li>
      <li><a href="/monitoramento/pages/alertas/index.html">Alertas</a></li>
    </ul>
  </div>
</header>