<link rel="stylesheet" href="../../styles/header.css">

<header class="cabecalho">
  <img src="/assets/img/logo.png" alt="Logo" />
  <h1>EngTechs</h1>

  <div class="menu-dropdown">
    <button class="menu-toggle"> ☰ </button>
    <ul class="dropdown-links">
      <li><a href="/pages/status/index.html">Home</a></li>
      <li><a href="/pages/historico/index.html">Histórico</a></li>
      <li><a href="/pages/sensores/index.html">Sensores</a></li>
      <li><a href="/pages/alertas/index.html">Alertas</a></li>
    </ul>
  </div>
</header>